#Header{
    -fx-background-color: #A9E9B0;
}
#Msg{
    -fx-background-color: #8DB9AA;
}
#Pane{
    -fx-background-color: #DEDDEF;
}
#User{
    -fx-text-fill:#FFFFFF;
}
#Message{
    -fx-text-fill:#000000;
}